.env
.env.*
!.env.example

node_modules/
vendor/

storage/logs/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

bootstrap/cache/*

.git/
.gitignore

tests/

*.log
